
section.fond{
    background-image: url(images/fond.jpg);
    background-repeat : no-repeat;
    background-size : 100% 100%;
}

header{
    margin: 0px;
    padding: 0px;
}
/* menu de navigation */


.header {
    background-color: darkcyan;
    height: 80px;
    margin: 10px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

ul li a{
    color: #fff;
    letter-spacing: 0.1rem;
}

ul li a:hover{
    color: #ffd358;
    text-decoration: underline;
}

.menu li{
    float: left;
    padding: 35px;
}

.menu li a{
    text-decoration: none;
}

form{
    padding: 35px;
    text-align: right;
}

input[type="search"] {
    font-size: 17px;
}

/* Page d'accueil */


.titre {

    font-size: 32px;
  text-shadow: -1px -1px darkblue, 1px 1px darkcyan, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display: center;
  margin:16px;
  background-color: transparent;
  
}



/* Pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
    margin-top: 800px;
    background-color: transparent;
    color: white;
}

footer a.cgv {
    text-decoration: none;
    color: white;
}
