
header{
    margin: 0px;*
    padding: 0px;
}
/* menu de navigation */


.header {
    background-color: darkcyan;
    height: 80px;
    margin: 10px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

ul li a{
    color: #fff;
    letter-spacing: 0.1rem;
}

ul li a:hover{
    color: #ffd358;
    text-decoration: underline;
}

.menu li{
    float: left;
    padding: 35px;
}

.menu li a{
    text-decoration: none;
}

form{
    padding: 35px;
    text-align: right;
}

input[type="search"] {
    font-size: 17px;
}



/* body */

body{
    height: 1000px;
}


h1,h2,h3 {
    font-size: 32px;
    font-family:Arial, Helvetica, sans-serif;
    color: darkcyan;
    font-weight:lighter;
    text-align:center;
    display: center;
    margin-top: 50px;
    margin-bottom: 5px;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: #ffffff 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
}

iframe {
    width: 50%;
    height: 50%;
    border-radius: 12px;
    border-color: black;
   margin-left: 25%; 
   margin-right: auto;
    margin-top: 10px;
    overflow:scroll ;
}




/* Pied de page */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    font-weight: 600;
    margin-top: 800px;
    background-color: transparent;
    color: white;
}

footer a.cgv {
    text-decoration: none;
    color: white;
}